.navitem {
	margin-right: 2%;
}

.navpush{
	margin-right: 45%;
	padding-left: 8%;
	min-width: 100px;
}

h1{
	font-size: 72pt;
}

.loggedin {
	display: none;
}

#chartHolder{
	padding-top: 40px;
	width: 1100px;
	height: 500px;
	margin: 0 auto;
	padding-bottom: 100px;
}

